
    <div id="header-container">
      <a href="#openModal"><img id="logo" src="scott_avatar2.png"/></a>
      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <img id="character" src="scott_avatar2.png"/>
        </div>
      </div>
      <h1 id="header">Scott A.<br>Nicholson</h1>
      <!-- <button id="date-btn">What Time Is It?</button>
      <h3 id="date"></h3> -->
    </div>
    <br />







    <nav id="navbar">
      <button id="about-btn">About Me</button>
      <button id="projects-btn">Previous Projects</button>
      <button id="contact-btn">Contact Me</button>
    </nav>
    <div class="sh-container">
      <h1 class="sh">About Me</h1>
    </div>
      <p id="about-main">Hey, I'm Scott.<br /><br />I recently finished sixth form where I gained an interest in software development through my IT course. Creating a website and simple game using Dreamweaver and GameMaker captivated me but I understand that to move onto proper development, coding is the way forward.</p>
    <div class="sh-container">
      <h1 class="sh">Previous Projects</h1>
    </div>
    <div id="pro-container">
    </div>
    <div class="sh-container">
      <h1 class="sh">Contact Me</h1>
    </div>
    <div style="text-align:center; display:flex; justify-content:space-between;" id="icon-container">
      <a href="https://www.facebook.com/scott.nicholson.9461" target="_blank"><i class="fa fa-5x fa-facebook-official" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="https://www.instagram.com/scott_n99/?hl=en" target="_blank"><i class="fa fa-5x fa-instagram" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="https://twitter.com/Scott_N99" target="_blank"><i class="fa fa-5x fa-twitter" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="https://www.linkedin.com/in/scott-nicholson/" target="_blank"><i class="fa fa-5x fa-linkedin-square" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="https://github.com/SNicholson99" target="_blank"><i class="fa fa-5x fa-github" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="https://schoolofcodebootcamp.slack.com/team/U6T1PS5DL" target="_blank"><i class="fa fa-5x fa-slack" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
      <a href="" target="_blank"><i class="fa fa-5x fa-medium" aria-hidden="true" style="color:rgb(48,48,48)"></i></a>
    </div>
  <!-- <script>
  document.getElementById("date-btn").addEventListener("click", displayDate);
    function displayDate() {
      var element = document.getElementById("date-btn");
      element.parentNode.removeChild(element);
      document.getElementById('date-btn')
      document.getElementById("date").innerHTML = Date();
      setInterval(function() {document.getElementById("date").innerHTML = Date();},1000)
    }
  </script> -->
  <!-- on click of avatar, speech bubble appears - different responses getting more annoyed as you click more, eventually says goodbye and disappears -->



<!-- move z-axis position of a div
make div hidden -->
